html,
body {
    height: 100%;
}

.rel{position:relative;}
.abs{position:absolute;}
h1, .h1 {
    font-size: 25px;
    font-family: "Roboto Condensed",sans-serif;
}
h2, .h2 {
    font-size: 18px;
    font-family: "Roboto Condensed",sans-serif;
}
.blue{color:#0066b3;}
.mt50{margin-top: 50px;}
.iblock{display: inline-block;}
.myhide{display: none;}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #f4f4f4;
}

.main_container {
    background-color: #fff;
    border-top: 5px solid #ffcb05;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: -5px;
    padding: 20px 15px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}
a:focus{outline: none;}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.news_view{}
.news_view p {
    font-size: 16px;
    line-height: 25px;
}
.news_image{width:100%; margin-bottom:40px;}
.text-content{padding-left: 0;}

.document-description {
    padding-left: 75px;
    line-height: 20px;
    padding-right: 0;
}
.printshare{}
@media print {
    .print_hide{display: none;}
}
a.nodecor{text-decoration: none;}
.print{}
option{padding: 3px 6px;}
.dropdown:hover .dropdown-menu {
    display: block;
}
h1{margin:0;}
h1.news_title{
    margin-bottom: 10;
}
h2.title{font-size:20px;margin-top: 0;}
.img_list{margin-right: 15px;
    min-height: 97px;
    text-align: center;
    width: 120px;}
.img_list img{width:120px;}
.desc_list a{ color: #777;
    text-decoration: none;}
div.item{clear:both; display: inline-block;margin-top: 15px; width: 100%;}
article.item{}
.logowrap{display: inline-block;  margin-left: -15px;}
.logo{/*background-image: url("img/logo.svg");*/ background-image: url("img/gerb.png");
    background-repeat: no-repeat;}
.logo1{
    background-size: 42px auto;
    height: 42px;
    width: 42px;
}
/*.logo2{
    background-position: 0 0;
    background-size: 400px auto;
    height: 130px;
    width: 127px;
}*/
.logo2 {
    background-position: 0 0;
    height: 101px;
    margin: 20px 0 30px;
    width: 102px;
}
.logotext2{
    color: #0066b3;
    display: inline-block;
    font-family: serif;
    font-size: 28px;
    margin-top: 57px;
    margin-left: 20px;
    height: 30px;
    width: 300px;
}
.ltext_ky{background: rgba(0, 0, 0, 0) url("img/logo_text_kg.png") no-repeat scroll 0 0 / 300px auto;}
.ltext_ru{background: rgba(0, 0, 0, 0) url("img/logo_text.png") no-repeat scroll 0 0 / 300px auto;}
.navbar-brand {
    padding: 4px 0 4px 15px;
}
.toraga{
    background-color: #f9f9f9;
    padding: 20px 5px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
a.homelink{display: block;}
.toraga_image img{max-height: 160px;
    max-width: 226px;}
.toraga_name span {
    color: #777;
    display: block;
    font-size: 12px;
    padding: 5px 0 2px;
}
.deputy_image{max-width: 120px; max-height:160px;}
/*--------customize bootstrap start-------------------*/
.navbar-inverse .navbar-nav > li > a {
    transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.navbar-header {
    margin-left: -42px !important;
}
.breadcrumb {
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 8px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a{color: #777;
}
.breadcrumb > .active {
    color: #000;
}
.breadcrumb > li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
.alert {
    margin-top: 25px;
}
/*--------customize bootstrap end-------------------*/

p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0 0 6pt;
    text-align: justify;
}
p.MsoSignature, li.MsoSignature, div.MsoSignature {
    font-weight: bold;
    margin: 0 0 0.0001pt;
}
.legislation-view h2{
    text-align: center;
}
.field140{width:140px;}
.decree-view table, .bill-view table{width:100%;}

.deputies-slider{clear: both;}
.deputy-name{text-align: center;}
.deputy-name a{display: block;}
.swiper-slide{text-align: center;}
.mains_news img{width: 480px;}
.mains_news_title{margin: 10px 0;}
.mains_news_title a{
    font-family: "Roboto Condensed",sans-serif;
    line-height: 38px;
    color: #000000;
    font-size: 30px;
    padding-top: 8px;
}
.entry_news_date{color: #858e9b;
    font-size: 14px;
    margin-bottom: 3px;}

.mains_news_date{
    padding-top: 22px;}

.other_news{margin: 20px 0;border-bottom: 1px solid #ededed;padding-bottom: 20px;}
.other_news:last-child{border-bottom: none;}
.other_news:first-child{margin-top: -4px;}
.other_news_title{}
.other_news_title a{
    color: #333;
    font-size: 16px;
    display: block;
}
.toraga_name a{
    font-size: 16px;}
.announce{padding: 18px 24px 25px; border:1px solid #dddde2; margin-top: 25px;}
.announce h3{margin: 0;}
.announce_title{ margin: 15px 0;}
.announce_title a{ color: black;
    font-size: 15px !important;
    margin-bottom: 15px;}
.main_laws{ border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin: 60px 0;
    padding-bottom: 15px;
    background-color: #f9f9f9;}
h3.dots{ color: #333;
    font-family: "roboto condensed",sans-serif;
    font-size: 20px;
    margin-bottom: 15px;}
h3.dots:after{background-color: #ffcb05;
    border-radius: 4px;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 0 2px 6px;
    width: 8px;}
.law_title{margin-bottom: 15px;}
.gthumb{ border: 1px solid #cccccc;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 120px;
    padding: 1px;}
.gthumb img{height: 140px;
    max-width: 186px;}
h4.session{margin:0;}
.footer {
    background-image: linear-gradient(to bottom, rgba(0, 44, 77, 0.9) 0%, rgba(0, 44, 77, 0.9) 100%), url("img/flag.svg");
    background-position: 0 -169px;
    background-size: 1445px auto;
    padding-top: 35px;
}
.footer_menu_item a{  color: #91d0ff; display: block; padding: 4px 0;}
.footer_menu_item_title{ color: #ffcb05; font-family: "roboto condensed",sans-serif; font-size: 20px;}
.footer_menu_rest a{color: #ffcb05;
    font-family: "roboto condensed",sans-serif;
    font-size: 20px; padding:0;}

.law_title{margin-bottom: 15px;}
.ask{margin-top: 53px;}
.ask a{color: #fff;
    text-decoration: none;}
a:active {
    outline: none;
}
.swiper-slide{min-width: 100px;}
.gal_wrap{margin-bottom: 15px;}

.comment-form{overflow: hidden;
    width: 84%;padding-left: 12px;}
.help-block {margin-bottom: 0;}
.avatar{width:50px;}
.avatar-col{ margin-top: 5px;}
.comment-wrap{clear:both;}
.comment-col{ margin-top: 2px;}
.comment-name{font-weight: bold;}
.comment-date{color: #777;
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    margin-left: 15px;}
.comment-row{border-top: 1px solid #eaeaea;
    margin: 15px 0 23px;
    overflow: hidden;
    padding-top: 10px;}
.comment-row .avatar-col{ margin-right: 14px;}
.twi-button{margin:0 6px 0 101px;}
.social-wrap{margin-top: 45px;
    position: relative;
    width: 100%;}
.fb-button{position: absolute; left: 0; top:1px;}
.my-button{width: 93px;}
.print-button{margin-top: 3px;}

.gal_enter{  display: table-cell;
    height: 144px;
    vertical-align: middle;}
.gthumb {
    margin-right: 40px;
}
article.item {
    display: table;
}
.logo_name_mobile{display: none;}
.logo1{display: none;}
.main_laws{ border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin: 60px 0;
    padding-bottom: 15px;
    background-color: #f9f9f9;}
h3.dots{ color: #333;
    font-family: "roboto condensed",sans-serif;
    font-size: 20px;
    margin-bottom: 15px;}
h3.dots:after{background-color: #ffcb05;
    border-radius: 4px;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 0 2px 6px;
    width: 8px;}

.main_gal{margin-top:30px; border-top: 1px solid #eaeaea;}
.gal_title{
    clear: both;
    margin-top: 5px;
    max-width: 200px;
    text-align: center;
}
.gal_title a{color:#000;}
.searchicon{color:#ccc;}
.search_btn{background-color: transparent; border-color: transparent;}
.search_btn:hover{background-color:#0066b3;}
.search_btn:hover .searchicon{color:#fff;}
.search_input{box-shadow: none;}
.newsrow{}
.main_menu {    margin-top: 13px;
    padding: 0;
}
.main_menu > li {
    display: inline;
}
.main_menu a {
    color: #363636;
    padding: 15px;
}
@media screen and (max-width: 990px) {
    .ask{margin-top: 0;}
    .newsrow{margin-bottom:20px;}
    .toraga_image img {
        max-height: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
    .langbar{ font-size: 12px;
        overflow: hidden;
        width: 35px;}
    .toraga_image img {
        max-width: 202px;
    }
}
@media screen and (max-width: 990px) and (min-width: 768px) {
    .navbar-nav > li > a {
        padding-right:8px;
        padding-left:8px;
        font-size: 12px;
    }
    .langbar{width: 28px; overflow: hidden;}
}

@media screen and (max-width: 1045px) and (min-width: 768px) {
    .navbar-header{display:none;}
}

@media screen and (max-width: 768px) {
    .navbar-header{margin-left:-15px !important;}
}

@media screen and (max-width: 430px) {
    .logo1{display:inline-block !important;}
    .logo_name_mobile {
        display: inline-block;
        font-family: tahoma,sans-serif;
        font-size: 13px;
        line-height: 41px;
        margin-left: 5px;
        vertical-align: top;
    }
    .logowrap, .avatar-col {display: none;}
    .gal_wrap{margin-bottom: 25px;}
    .social-wrap {margin-top: 10px;}
    .document-description{display:none;}
    .comment-form {
        padding-left:0;
        width: 100%;
    }
    .print-button{float:left !important;}
    .img_list {
        margin-bottom: 5px;
        margin-right: 0;
        min-height: auto;
        text-align: center;
        width: 100%;
    }
    .img_list img { width: auto;}
    div.item {
        border-bottom: 1px solid #ddd;
        margin-top: 4px;
        padding-bottom: 16px;
    }
    .gal_enter {
        display: block;
        height: 100%;
        vertical-align: middle;
    }
}
.navbar {border-radius: 0;margin-bottom: 0;}
.main_menu_wrap{  background-color: rgba(0, 63, 111, 0.5);}
.header_wrap{ background-color: #0066b3;
    background-image: url("img/fbg.jpg");
    background-position: center center;
    background-repeat: no-repeat;margin-top: 51px;}
.main_link{padding:0;}
.link_wrap{    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1); margin:0 20px 20px 0;}
.link_wrap:nth-child(4){margin-right: 0;}
.link_wrap a{background: #fefefe none repeat scroll 0 0;
    border-radius: 2px;
    color: #020c22;
    display: block;
    font-size: 17px;
    height: 130px;
    line-height: 1.35;
    padding: 23px 23px 10px 25px;
    position: relative;
    text-decoration: none;
    transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s, background 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    width: 252px;}
.link_wrap a:hover{background: #0066b3 none repeat scroll 0 0; color:#fefefe;}
.link_title{}
.link_url{ bottom: 26px;
    color: #0a3fb4;
    display: block;
    font-size: 13px;
    left: 29px;
    position: absolute;
    text-transform: uppercase;
    transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;}
.link_wrap:hover .link_url{color:#a2d7ff;}