html,
body {
    height: 100%;
}

.rel{position:relative;}
.abs{position:absolute;}
h1, .h1 {
    font-size: 25px;
    font-family: "Roboto Condensed",sans-serif;
}
h2, .h2 {
    font-size: 18px;
    font-family: "Roboto Condensed",sans-serif;
}
.blue{color:#0066b3;}
.mt50{margin-top: 50px;}
.iblock{display: inline-block;}
.myhide{display: none;}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 50px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}
a:focus{outline: none;}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.news_view{}
.news_view p {
    font-size: 16px;
    line-height: 25px;
}
.news_image{width:100%; margin-bottom:40px;}
.text-content{padding-left: 0;}

.document-description {
    padding-left: 75px;
    line-height: 20px;
    padding-right: 0;
}
.printshare{}
@media print {
    .print_hide{display: none;}
}
a.nodecor{text-decoration: none;}
.print{}
option{padding: 3px 6px;}
.dropdown:hover .dropdown-menu {
    display: block;
}
h1.news_title{
    margin-top: 0;
}
h2.title{font-size:20px;margin-top: 0;}
.img_list{margin-right: 15px;
    text-align: center;
    width: 120px;}
.desc_list a{ color: #777;
    text-decoration: none;}
div.item{clear:both; display: inline-block;margin-top: 15px; width: 100%;}
article.item{}
.logowrap{display: inline-block;}
.logo{background-image: url("img/logo.svg");
    background-repeat: no-repeat;}
.logo1{
    background-position: 0 -39px;
    background-size: 144px auto;
    height: 42px;
    width: 42px;
}
.logo2{
    background-position: 0 0;
    background-size: 400px auto;
    height: 130px;
    width: 127px;
}
.logotext1{}
.logotext2{
    color: #787878;
    display: inline-block;
    font-family: "Roboto Condensed",sans-serif;
    font-size: 26px;
    margin-top: 29px;
}
.navbar-brand {
    padding: 4px 0 4px 15px;
}
.toraga{
    background-color: #f9f9f9;
    padding: 20px 5px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.toraga_image{border: 1px solid #ccc;
    display: inline-block;
    padding: 2px;}

.toraga_image a{}
.toraga_image img{max-height: 160px;
    max-width: 120px;}
.toraga_name span {
    color: #777;
    display: block;
    font-size: 12px;
    padding: 5px 0 2px;
}
/*--------customize bootstrap start-------------------*/
.navbar-inverse .navbar-nav > li > a {
    transition: color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.navbar-header {
    margin-left: -42px !important;
}
.breadcrumb {
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 8px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a{color: #777;
}
.breadcrumb > .active {
    color: #000;
}
.breadcrumb > li + li::before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
.alert {
    margin-top: 25px;
}
/*--------customize bootstrap end-------------------*/

p.MsoNormal, li.MsoNormal, div.MsoNormal {
    margin: 0 0 6pt;
    text-align: justify;
}
p.MsoSignature, li.MsoSignature, div.MsoSignature {
    font-weight: bold;
    margin: 0 0 0.0001pt;
}
.legislation-view h2{
    text-align: center;
}
.field140{width:140px;}
.decree-view table, .bill-view table{width:100%;}

.deputies-slider{clear: both;}
.deputy-name{text-align: center;}
.deputy-name a{display: block;}
.swiper-slide{text-align: center;}
.mains_news img{max-width: 480px;}
.mains_news_title{margin: 10px 0;}
.mains_news_title a{
    font-family: "Roboto Condensed",sans-serif;
    line-height: 38px;
    color: #000000;
    font-size: 30px;
    padding-top: 8px;
}
.entry_news_date{color: #858e9b;
    font-size: 14px;
    margin-bottom: 3px;}

.mains_news_date{
    padding-top: 22px;}

.other_news{margin: 20px 0;border-bottom: 1px solid #ededed;padding-bottom: 20px;}
.other_news:last-child{border-bottom: none;}
.other_news:first-child{margin-top: -4px;}
.other_news_title{}
.other_news_title a{
    color: #333;
    font-size: 16px;
}
.toraga_name a{
    font-size: 16px;}
.announce{padding: 18px 24px 25px; border:1px solid #dddde2; margin-top: 25px;}
.announce h3{margin: 0;}
.announce_title{ margin: 15px 0;}
.announce_title a{ color: black;
    font-size: 15px !important;
    margin-bottom: 15px;}
.main_laws{ border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin: 60px 0;
    padding-bottom: 15px;
    background-color: #f9f9f9;}
h3.dots{ color: #333;
    font-family: "roboto condensed",sans-serif;
    font-size: 20px;
    margin-bottom: 15px;}
h3.dots:after{background-color: #ffcb05;
    border-radius: 4px;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 0 2px 6px;
    width: 8px;}
.law_title{margin-bottom: 15px;}
.gthumb{ border: 1px solid #cccccc;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 120px;
    padding: 1px;}
.gthumb img{height: 140px;
    max-width: 186px;}
h4.session{margin:0;}
.footer {
    background-image: linear-gradient(to bottom, rgba(0, 44, 77, 0.9) 0%, rgba(0, 44, 77, 0.9) 100%), url("img/flag.svg");
    background-position: 0 -156px;
    background-size: 1311px auto;
    padding-top: 35px;
}
.footer_menu_item a{  color: #91d0ff; display: block; padding: 4px 0;}
.footer_menu_item_title{ color: #ffcb05; font-family: "roboto condensed",sans-serif; font-size: 20px;}
.footer_menu_rest a{color: #ffcb05;
    font-family: "roboto condensed",sans-serif;
    font-size: 20px; padding:0;}